body {
    text-align: center;
    font-family: system-ui, sans-serif;
    /* max-width: 100%; */
    width: 70%;
    margin: 0 auto; 
}
* {
    box-sizing: border-box;
  }

/* ::-webkit-file-upload-button {
    display: none;
 } */


.input-form {
    visibility: hidden !important;
}

input,
button {
    font-size: 1em;
    display: block;
}

input {
    padding: 6px 12px
}

button.block.accent {
    margin: 12px auto 3em auto;
}

.topnav {
    overflow: hidden;
    text-decoration: none;
    margin: 20px;
  } 

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

h1 {
    text-align: left;
}

.name{
    margin: 30px;
}


/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
.left {
    width: 15%;
    text-align: center;
}

.right {
    width: 85%;
    text-align: left;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.description {
    margin-bottom: 40px;
}

#imageLoader {
    background-color: rgba(221, 206, 238, 0.644);
    width: 100vh;
    height: 300px;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(118, 74, 219);
    /* margin-bottom: 20px; */
    max-width: 100%;
}

#imageLoader:hover{
    background-color: rgba(221, 206, 238, 0.844);
    cursor: pointer;

}

input[type='file'] {
    opacity:0    
  }

.drop-image {
    background-color: rgba(221, 206, 238, 0.644);
    width: 100vh;
    height: 300px;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(118, 74, 219);
    /* margin-bottom: 20px; */
    max-width: 100%;
    position: relative;
}

.drop-image .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.drop-image:hover{
    background-color: rgba(221, 206, 238, 0.844);
    cursor: pointer;
}

.label {
    /* position: absolute; */
    /* position: absolute;  */
    color:rgb(118, 74, 219);
    font-size: 20px;
}

input[type='submit'] {
    margin-top: 40px;   
  } 
