body {
    text-align: center;
    font-family: system-ui, sans-serif
}


.input-form {
    visibility: hidden !important;
}

input,
button {
    font-size: 1em;
    display: block;
}

input {
    padding: 6px 12px
}

button.block.accent {
    margin: 12px auto 3em auto;
}

.topnav {
    overflow: hidden;
    text-decoration: none;
  } 

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

h1 {
    font-size: 79px;
}

